* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*Mobile mixins*/
/*Desktop mixins*/
@media only screen and (max-width: 999px) {
  html {
    font-size: 14px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2.75rem;
    padding-bottom: 2.07rem;
  }
  header .logo {
    height: 1.71rem;
    padding: 0.71rem 1.14rem;
  }
  header input {
    display: none;
  }
  header .times-container {
    display: none;
    height: 1rem;
    padding: 0.86rem 1.14rem;
  }
  header .bars-container {
    padding: 0.86rem 1.14rem;
  }
  header ul {
    display: none;
    padding: 0.28rem 0;
    width: 100%;
    background-color: #0000ec;
    position: absolute;
    left: 0;
  }
  header ul li {
    list-style-type: none;
    padding: 0.86rem 1.14rem;
  }
  header ul li a {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.14rem;
    color: #ffffff;
    text-decoration: none;
  }
  header input:checked ~ .bars-container {
    display: none;
  }
  header input:checked ~ .times-container {
    display: block;
  }
  header input:checked ~ ul {
    display: block;
  }
  .inicio .title_desktop {
    display: none;
  }
  .inicio .title_mobile {
    padding-bottom: 1.14rem;
  }
  .inicio .title_mobile h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1.14rem;
    color: #060a24;
  }
  .inicio .intro_desktop {
    display: none;
  }
  .inicio .intro_mobile {
    padding-bottom: 2.57rem;
  }
  .inicio .intro_mobile h2 {
    width: 90%;
    font-size: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: #060a24;
    line-height: 1.57rem;
    padding-left: 1.14rem;
  }
  .inicio .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.71rem;
  }
  .inicio .button-container button {
    background-color: #00f3bb;
    font-size: 1.14rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    line-height: 1.57rem;
    padding: 0.93rem 6.86rem;
  }
  .episodios {
    position: relative;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    height: 79rem;
    padding-bottom: 10.25rem;
  }
  .episodios .top-triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vw;
  }
  .episodios .bottom-triangle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
  }
  .episodios h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1.14rem;
    color: #ffffff;
    padding-top: 4.57rem;
    padding-bottom: 1.5rem;
  }
  .episodios .spotify {
    width: 93%;
    padding: 0 0.79rem 0.79rem;
  }
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: -6.82rem;
    margin-bottom: -6.82rem;
  }
  .nosotros img {
    position: relative;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    padding-bottom: 1.93rem;
  }
  .nosotros div h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1.14rem;
    padding-bottom: 0.57rem;
  }
  .nosotros div p {
    width: 90%;
    padding: 0 1.14rem 3.86rem;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 300;
  }
  .entrevistas h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1.14rem;
    padding-bottom: 1rem;
  }
  .entrevistas .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 3.43rem;
  }
  .entrevistas .img-container .black-images {
    padding: 0;
    width: 100%;
  }
  .temas h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1.14rem;
    color: #000000;
    padding-bottom: 1.71rem;
  }
  .temas .temas-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .temas .temas-container h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1.14rem;
    color: #000000;
    padding-top: 0px;
  }
  .temas .temas-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2.63rem;
  }
  .temas .temas-container div img {
    padding: 0.93rem 7.71rem;
  }
  .temas .temas-container div h3 {
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.71rem;
  }
  .action {
    position: relative;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    height: 24.36rem;
    margin-bottom: 1.5rem;
  }
  .action .top-tri {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vw;
  }
  .action h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.57rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1.14rem;
    padding: 4.57rem 0 2.57rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
  }
  .action .button2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .action .button2 button {
    background-color: #00f3bb;
    font-size: 1.14rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    line-height: 1.57rem;
    padding: 0.93rem 3.07rem;
  }
  footer h4 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1rem;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 2.21rem;
  }
  footer div .fab {
    color: #060a24;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
    padding-bottom: 7.5rem;
  }
  header input,
  header label {
    display: none;
  }
  header .fa-bars {
    display: none;
  }
  header .logo {
    padding: 1.38rem 6.25rem;
    width: 2.25rem;
    height: auto;
  }
  header ul {
    padding: 1.63rem 6.25rem;
  }
  header ul li {
    display: inline;
    padding-left: 3rem;
    list-style-type: none;
  }
  header ul li a {
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
  }
  .inicio .title_mobile {
    display: none;
  }
  .inicio .title_desktop {
    padding-left: 13.9%;
    display: inline;
  }
  .inicio .title_desktop h1 {
    display: inline;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: #060a24;
  }
  .inicio .title_desktop .dot {
    color: #0000ec;
    display: inline;
  }
  .inicio .title_desktop div {
    display: inline;
  }
  .inicio .intro_mobile {
    display: none;
  }
  .inicio .intro_desktop {
    padding: 0 13.9% 3.5rem;
    width: 34rem;
  }
  .inicio .intro_desktop h2 {
    font-size: 14px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: #060a24;
    line-height: 22px;
  }
  .inicio .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 13.9%;
    padding-bottom: 0.31rem;
  }
  .inicio .button-container :hover {
    background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8);
  }
  .inicio .button-container button {
    padding: 1rem 3.69rem;
    background-color: #00f3bb;
    font-size: 1.13rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    line-height: 1.5rem;
  }
  .inicio .button-container :hover {
    color: #ffffff;
  }
  .episodios {
    position: relative;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    height: 67rem;
  }
  .episodios h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.88rem;
    padding-left: 13.9%;
    color: #ffffff;
    padding-top: 11.63rem;
    padding-bottom: 1.63rem;
  }
  .episodios .top-triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vw;
  }
  .episodios .bottom-triangle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
  }
  .episodios div {
    padding: 0 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 2fr;
    -ms-grid-columns: 2fr 2fr;
        grid-template: 2fr 2fr / 2fr 2fr;
  }
  .episodios div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .episodios div div .spotify {
    width: 100%;
    padding: 2.25rem;
  }
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: -10.54rem;
    margin-bottom: -10.54rem;
    padding: 0 13.9% 4rem;
  }
  .nosotros img {
    position: relative;
    width: 28.6rem;
  }
  .nosotros div {
    padding: 1.28rem 3.5rem;
  }
  .nosotros div h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.88rem;
    padding-left: 13.9%;
    padding-left: 0;
    width: 24.94rem;
    padding-bottom: 1.5rem;
    color: #000000;
  }
  .nosotros div p {
    width: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 300;
  }
  .entrevistas h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.88rem;
    padding-left: 13.9%;
    width: 30.06rem;
    padding-bottom: 2.25rem;
    font-size: 48px;
  }
  .entrevistas .img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 2fr;
    -ms-grid-columns: 3fr 3fr 3fr;
        grid-template: 2fr 2fr / 3fr 3fr 3fr;
    padding: 0;
    padding-bottom: 4rem;
  }
  .entrevistas .img-container .black-images {
    padding: 0;
    width: 100%;
  }
  .temas h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.88rem;
    padding-left: 13.9%;
    width: 36.63rem;
    padding-bottom: 3.5rem;
  }
  .temas .temas-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 13.9% 2.13rem;
  }
  .temas .temas-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .temas .temas-container div img {
    padding: 0.81rem 4.88rem;
  }
  .temas .temas-container div h3 {
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    color: #060a24;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1rem;
  }
  .action {
    position: relative;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    height: 32.38rem;
  }
  .action .top-tri {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vw;
  }
  .action h1 {
    width: 20.57rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.88rem;
    padding-left: 13.9%;
    width: 44rem;
    margin-left: auto;
    margin-right: auto;
    padding: 13.31rem 0 2.25rem;
    color: #ffffff;
  }
  .action .button2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .action .button2 :hover {
    background-image: -webkit-gradient(linear, right top, left top, from(#0000fe), to(#00f0b8));
    background-image: linear-gradient(to left, #0000fe, #00f0b8);
  }
  .action .button2 button {
    background-color: #00f3bb;
    font-size: 1.14rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    line-height: 1.57rem;
    padding: 1rem 3.69rem;
  }
  .action .button2 :hover {
    color: #ffffff;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    height: 5.94rem;
    padding: 0 6.25rem;
  }
  footer h4 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    font-weight: 300;
    line-height: 7.75rem;
    text-align: center;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer div .fab {
    padding-left: 2.25rem;
    color: #060a24;
  }
}
/*# sourceMappingURL=styles.css.map */