* {
  padding: 0;
  margin: 0;
  border: 0; }

@media only screen and (max-width: 599px) {
  body {
    font-family: "IBM Plex Sans", sans-serif; }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header input {
      display: none; }
    header .fa-bars {
      padding: 20px;
      visibility: visible; }
    header .logo {
      padding: 20px;
      width: 35px;
      height: auto; }
    header ul {
      display: none;
      text-align: start;
      padding: 10px;
      width: 70%;
      background-color: #0000ec;
      position: absolute; }
      header ul li {
        text-align: left;
        border: 5px;
        padding: 10px;
        list-style-type: none; }
        header ul li a {
          color: white;
          font-size: 16px;
          text-decoration: none;
          font-family: "IBM Plex Mono", monospace; }
    header input:checked ~ .fa-bars {
      visibility: hidden; }
    header input:checked ~ ul {
      display: block; }

  .inicio {
    padding-bottom: 24px; }
    .inicio .title {
      padding-left: 20px;
      display: inline; }
      .inicio .title h1 {
        display: inline;
        font-size: 36px;
        font-weight: 400;
        color: #060a24; }
      .inicio .title .dot {
        color: #0000ec;
        display: inline; }
      .inicio .title div {
        display: block;
        padding-left: 20px; }

  .button-container {
    display: flex;
    justify-content: center;
    padding-top: 36px; }
    .button-container button {
      padding: 13px 96px;
      background-color: #00f3bb;
      font-size: 16px;
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500; }

  .intro {
    padding-top: 16px; }
    .intro h2 {
      font-size: 14px;
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500;
      color: #060a24;
      line-height: 22px;
      padding-left: 20px; }

  .episodios, .action {
    position: relative;
    height: 1270px;
    margin-bottom: 450px;
    background-image: linear-gradient(#0000ff, #0000a3); }
    .episodios .section-title, .action .section-title {
      padding-top: 64px;
      padding-left: 20px;
      padding-bottom: 21px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 36px;
      font-weight: 400;
      color: white; }
    .episodios .top-triangle, .action .top-triangle {
      position: absolute;
      top: 0;
      width: 100%;
      height: 10vw; }
    .episodios .bottom-triangle, .action .bottom-triangle {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10vw;
      z-index: 0; }
    .episodios .spotify, .action .spotify {
      padding: 0px 11px 11px 11px;
      width: 93%; }
    .episodios img, .action img {
      position: relative;
      display: block;
      padding-top: 37px;
      margin-left: auto;
      margin-right: auto;
      width: 320px;
      height: auto;
      z-index: 1; }

  .text {
    display: flex;
    flex-direction: column; }
    .text h1 {
      padding-top: 64px;
      padding-left: 20px;
      padding-bottom: 21px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 36px;
      font-weight: 400;
      color: black;
      padding-top: 50px; }
    .text p {
      padding: 8px 20px;
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      font-weight: 300;
      text-align: justify; }
    .text .img-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0;
      padding-bottom: 48px; }
      .text .img-container .black-images {
        padding: 0;
        width: 100%; }

  .temas-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 42px; }
    .temas-container div {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center; }
      .temas-container div img {
        padding-top: 49px; }
      .temas-container div h3 {
        text-align: center;
        padding-top: 13px;
        font-size: 24px; }

  .action {
    height: 361px;
    margin-bottom: 0; }
    .action h1 {
      padding-top: 64px;
      padding-left: 20px;
      padding-bottom: 21px;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      color: white; }
    .action .button2 {
      display: flex;
      justify-content: center;
      padding-top: 36px;
      padding-bottom: 67px; }
      .action .button2 button {
        padding: 13px 43px;
        background-color: #00f3bb;
        font-size: 16px;
        font-family: "IBM Plex Mono", monospace;
        font-weight: 500; }

  footer h4 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 24px; }
  footer div {
    padding-top: 21px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    header nav label {
      position: absolute; }
    header input {
      display: none; }
    header ul li {
      display: inline;
      padding-right: 15px;
      list-style-type: none; }
      header ul li a {
        color: black;
        font-size: 16px;
        text-decoration: none;
        font-family: "IBM Plex Mono", monospace; }

  .fa-bars {
    visibility: hidden;
    padding: 20px; }

  .logo {
    width: 35px;
    height: auto; }

  div {
    position: absolute;
    top: 200px;
    left: 200px; }
    div h1 {
      display: inline;
      align-self: flex-start;
      font-size: 64px;
      color: #060a24; }
    div .dot {
      color: #0000ec; } }

/*# sourceMappingURL=styles.css.map */
