@media only screen and (min-width: $desktop) {
  html {
    font-size: 16px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-bottom: 7.5rem;
    input,
    label {
      display: none;
    }
    .fa-bars {
      display: none;
    }
    .logo {
      padding: 1.38rem $padding-left-first-d;
      width: 2.25rem;
      height: auto;
    }
    ul {
      padding: 1.63rem $padding-left-first-d;
      li {
        display: inline;
        padding-left: 3rem;
        list-style-type: none;
        a {
          color: #000000;
          font-size: $menu-font-size-d;
          text-decoration: none;
          font-family: $menu-font;
        }
      }
    }
  }
  .inicio {
    .title_mobile {
      display: none;
    }

    .title_desktop {
      padding-left: $padding-left-second-d;
      display: inline;
      h1 {
        display: inline;
        font-family: $title-font;
        font-size: 4rem;
        font-weight: 400;
        color: #060a24;
      }
      .dot {
        color: rgb(0, 0, 236);
        display: inline;
      }
      div {
        display: inline;
      }
    }
    .intro_mobile {
      display: none;
    }
    .intro_desktop {
      padding: 0 $padding-left-second-d 3.5rem;
      width: 34rem;
      h2 {
        font-size: 14px;
        font-family: $menu-font;
        font-weight: 400;
        color: rgb(6, 10, 36);
        line-height: 22px;
      }
    }
    .button-container {
      @include button-container;
      justify-content: flex-start;
      padding-left: $padding-left-second-d;
      padding-bottom: 0.31rem;
      & :hover {
        background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8);
      }
      button {
        padding: 1rem 3.69rem;
        background-color: #00f3bb;
        font-size: 1.13rem;
        font-family: $menu-font;
        font-weight: 500;
        line-height: 1.5rem;
      }
      & :hover {
        color: #ffffff;
      }
    }
  }
  .episodios {
    @include oblicuo;
    height: 67rem;
    h1 {
      @include title-desktop;
      color: #ffffff;
      padding-top: 11.63rem;
      padding-bottom: 1.63rem;
    }
    .top-triangle {
      position: absolute;
      top: 0;
      width: 100%;
      height: 10vw;
    }
    .bottom-triangle {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10vw;
    }
    div {
      padding: 0 4rem;
      display: grid;
      grid-template: 2fr 2fr / 2fr 2fr;
      div {
        display: flex;
        padding: 0;
        .spotify {
          width: 100%;
          padding: 2.25rem;
        }
      }
    }
  }
  .nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -10.54rem;
    margin-bottom: -10.54rem;
    padding: 0 $padding-left-second-d 4rem;
    img {
      position: relative;
      width: 28.6rem;
    }
    div {
      padding: 1.28rem 3.5rem;
      h1 {
        @include title-desktop;
        padding-left: 0;
        width: 24.94rem;
        padding-bottom: 1.5rem;
        color: #000000;
      }
      p {
        width: 100%;
        font-family: $menu-font;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
  .entrevistas {
    h1 {
      @include title-desktop;
      width: 30.06rem;
      padding-bottom: 2.25rem;
      font-size: 48px;
    }
    .img-container {
      display: grid;
      grid-template: 2fr 2fr / 3fr 3fr 3fr;
      padding: 0;
      padding-bottom: 4rem;
      .black-images {
        padding: 0;
        width: 100%;
      }
    }
  }
  .temas {
    h1 {
      @include title-desktop;
      width: 36.63rem;
      padding-bottom: 3.5rem;
    }
    .temas-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
      padding: 0 $padding-left-second-d 2.13rem;
      div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        img {
          padding: 0.81rem 4.88rem;
        }
        h3 {
          font-family: $title-font;
          text-align: center;
          color: #060a24;
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 2rem;
          padding-top: 1rem;
        }
      }
    }
  }
  .action {
    @include oblicuo;
    height: 32.38rem;
    .top-tri {
      position: absolute;
      top: 0;
      width: 100%;
      height: 10vw;
    }
    h1 {
      @include title-desktop;
      width: 44rem;
      margin-left: auto;
      margin-right: auto;
      padding: 13.31rem 0 2.25rem;
      color: #ffffff;
    }
    .button2 {
      @include button-container;
      & :hover {
        background-image: linear-gradient(to left, #0000fe, #00f0b8);
      }
      button {
        @include button_1;
        padding: 1rem 3.69rem;
      }
      & :hover {
        color: #ffffff;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: 5.94rem;
    padding: 0 6.25rem;
    h4 {
      font-family: $menu-font;
      font-size: 1rem;
      font-weight: 300;
      line-height: 7.75rem;
      text-align: center;
    }
    div {
      display: flex;
      flex-direction: row;
      .fab {
        padding-left: 2.25rem;
        color: #060a24;
      }
    }
  }
}
