@media only screen and (max-width: $phone) {
  html {
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.75rem;
    padding-bottom: 2.07rem;
    .logo {
      height: 1.71rem;
      padding: 0.71rem 1.14rem;
    }
    input {
      display: none;
    }
    .times-container {
      display: none;
      height: 1rem;
      padding: 0.86rem 1.14rem;
    }
    .bars-container {
      padding: 0.86rem 1.14rem;
    }
    ul {
      display: none;
      padding: 0.28rem 0;
      width: 100%;
      background-color: #0000ec;
      position: absolute;
      left: 0;
      li {
        list-style-type: none;
        padding: 0.86rem 1.14rem;
        a {
          font-family: $menu-font;
          font-size: $menu-font-size;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
    input:checked ~ .bars-container {
      display: none;
    }
    input:checked ~ .times-container {
      display: block;
    }
    input:checked ~ ul {
      display: block;
    }
  }
  .inicio {
    .title_desktop {
      display: none;
    }
    .title_mobile {
      padding-bottom: 1.14rem;
      h1 {
        @include title;
        color: #060a24;
      }
    }

    .intro_desktop {
      display: none;
    }
    .intro_mobile {
      padding-bottom: 2.57rem;
      h2 {
        width: 90%;
        font-size: $p-font-size;
        font-family: $menu-font;
        font-weight: 400;
        color: #060a24;
        line-height: 1.57rem;
        padding-left: 1.14rem;
      }
    }
    .button-container {
      @include button-container;
      padding-bottom: 1.71rem;
      button {
        @include button_1;
        padding: 0.93rem 6.86rem;
      }
    }
  }
  .episodios {
    @include oblicuo;
    height: 79rem;
    padding-bottom: 10.25rem;
    .top-triangle {
      position: absolute;
      top: 0;
      width: 100%;
      height: 10vw;
    }
    .bottom-triangle {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10vw;
    }
    h1 {
      @include title;
      color: #ffffff;
      padding-top: 4.57rem;
      padding-bottom: 1.5rem;
    }
    .spotify {
      width: 93%;
      padding: 0 $padding-left-first 0.79rem;
    }
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -6.82rem;
    margin-bottom: -6.82rem;
    img {
      position: relative;
      display: block;
      align-self: center;
      width: 112.5%;
      padding-bottom: 1.93rem;
    }
    div {
      h1 {
        @include title;
        padding-bottom: 0.57rem;
      }
      p {
        width: 90%;
        padding: 0 $padding-left-second 3.86rem;
        font-family: $menu-font;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
  .entrevistas {
    h1 {
      @include title;
      padding-bottom: 1rem;
    }
    .img-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-bottom: 3.43rem;
      .black-images {
        padding: 0;
        width: 100%;
      }
    }
  }
  .temas {
    h1 {
      @include title;
      color: #000000;
      padding-bottom: 1.71rem;
    }
    .temas-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-bottom: 3rem;
      h1 {
        @include title;
        color: #000000;
        padding-top: 0px;
      }
      div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding-bottom: 2.57rem;
        img {
          padding: 0.93rem 7.71rem;
        }
        h3 {
          text-align: center;
          font-family: $title-font;
          font-size: 1.71rem;
        }
      }
    }
  }
  .action {
    @include oblicuo;
    height: 24.36rem;
    margin-bottom: 1.71rem;
    .top-tri {
      position: absolute;
      top: 0;
      width: 100%;
      height: 10vw;
    }
    h1 {
      @include title;
      padding: 4.57rem 0 2.57rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: white;
    }
    .button2 {
      @include button-container;
      button {
        @include button_1;
        padding: 0.93rem 3.07rem;
      }
    }
  }
  footer {
    h4 {
      font-family: $menu-font;
      font-size: 1rem;
      font-weight: 300;
      text-align: center;
      padding-bottom: 1.14rem;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-bottom: 2.21rem;
      .fab {
        color: #060a24;
      }
    }
  }
}
