$phone: 599px;
$desktop: 600px;

$header-padding-phone: 20px;
$header-padding-desktop: 35px;

$menu-font: "IBM Plex Mono", monospace;
$title-font: "IBM Plex Sans", sans-serif;

$title-font-size: 36px;
$title-font-weight: 400;

$menu-font-size: 16px;
$menu-font-weight: 400;

@mixin title {
  padding-top: 64px;
  padding-left: $header-padding-phone;
  padding-bottom: 21px;
  font-family: $title-font;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

@mixin button-container {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  button {
    padding: 13px 96px;
    background-color: rgb(0, 243, 187);
    font-size: 16px;
    font-family: $menu-font;
    font-weight: 500;
  }
}
