$phone: 599px;
$desktop: 600px;

$header-padding-phone: 20px;
$header-padding-desktop: 35px;
$padding-left: 200px;

$menu-font: "IBM Plex Mono", monospace;
$title-font: "IBM Plex Sans", sans-serif;

$title-font-size: 36px;
$title-font-weight: 400;

$menu-font-size: 16px;
$menu-font-weight: 400;

@mixin title {
  padding-top: 64px;
  padding-left: $header-padding-phone;
  padding-bottom: 21px;
  font-family: $title-font;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

@mixin title-desktop {
  padding-top: 185px;
  padding-left: $padding-left;
  padding-bottom: 21px;
  font-family: $title-font;
  font-size: 48px;
  font-weight: $title-font-weight;
}

@mixin button-container {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

@mixin oblicuo {
  position: relative;
  height: 1270px;
  background-image: linear-gradient(#0000ff, #0000a3);
}
